<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <shell><%= shell %></shell>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Koa222222222</p>
    <p><%= shell %></p>
  </body>
</html>
